In [22]:
# Possible Years:
#     2012, 2000, 1988, 1976, 1954, 1942, 1930, 1918

# Possible Months
# June 21- July22

# Neighborhood
# same as contractor

import csv
import numpy as np
from dateutil import parser

with open("noahs-customers.csv") as customers:
    reader = csv.reader(customers)
    headers = next(reader)
    data = list(reader)
    
customer_arr = np.array(data)

# Get birthdays, convert to time objects compare with possibles

birthday_col = customer_arr[:, 4]

birthday_date_objs = [parser.parse(date) for date in birthday_col]
bday_obj_arr = np.array(birthday_date_objs)
print(bday_obj_arr)

years = [2012, 2000, 1988, 1976, 1954, 1942, 1930, 1918]
months = [5,6]

mask = [
    True if date.year in years and date.month in months 
    else False 
    for date in bday_obj_arr 
        ]
# print(mask)
print(customer_arr[mask])

[datetime.datetime(1958, 1, 23, 0, 0) datetime.datetime(1956, 12, 3, 0, 0)
 datetime.datetime(2001, 9, 20, 0, 0) ...
 datetime.datetime(1992, 2, 9, 0, 0) datetime.datetime(1954, 5, 2, 0, 0)
 datetime.datetime(1945, 9, 26, 0, 0)]
[['1182' 'Jerry Sanders' '4216 W Maple Dr' 'Wyoming, MI 49509'
  '2000-05-07' '517-546-4709' 'America/Detroit' '42.89080' '-85.70660']
 ['1187' 'Caitlyn Cox' '3566 8th Pl' 'Kalama, WA 98625' '1954-05-25'
  '564-963-1723' 'America/Los_Angeles' '46.01640' '-122.84020']
 ['1209' 'David Cummings' '2599 SE Park Pl' 'Dallas, TX 75251'
  '2000-05-13' '346-235-3578' 'America/Chicago' '32.79350' '-96.76670']
 ['1356' 'Brian Murphy' '2312 W Sunset Ave' 'Riverside, CA 92503'
  '1988-05-27' '909-552-3598' 'America/Los_Angeles' '33.93810'
  '-117.39490']
 ['1383' 'Rhonda Wade' '4060C Broadway' 'Manhattan, NY 10032'
  '1988-06-28' '516-518-5840' 'America/New_York' '40.83496' '-73.94541']
 ['1492' 'Dana Clark' '4618 Main St' 'Boise, ID 83725' '1976-06-02'
  '986-797-6887' 'America/Boise' '43.60050' '-116.23080']
 ['1603' 'Mary Hicks' '73 SE Park Ave' 'Queens, NY 11106' '1988-05-04'
  '315-459-5821' 'America/New_York' '40.74980' '-73.79760']
 ['1664' 'William Smith' '53B Watchogue Rd' 'Staten Island, NY 10314'
  '1954-06-10' '212-577-8126' 'America/New_York' '40.61416' '-74.14055']
 ['1730' 'Dennis Perez' '2363 W 3rd Pl' 'Addison, TX 75001' '1976-06-11'
  '346-270-1442' 'America/Chicago' '32.95900' '-96.83550']
 ['1879' 'Samantha Diaz' '86 Park St' 'New York, NY 11691' '1954-05-18'
  '631-480-0343' 'America/New_York' '40.69430' '-73.92490']
 ['1893' 'Eric Callahan' '1004 Grand Concession' 'Bronx, NY 10456'
  '1988-05-26' '914-763-0995' 'America/New_York' '40.83555' '-73.91712']
 ['1937' 'Brittany Le' '4463 S Aspen St' 'Thornton, CO 80229'
  '2000-05-30' '719-652-9497' 'America/Denver' '39.91970' '-104.94380']
 ['1977' 'Sean Nelson' '232 NE Park St' 'Cinco Ranch, TX 77450'
  '1976-06-13' '972-789-0142' 'America/Chicago' '29.73950' '-95.76070']
 ['2000' 'Andrew Brooks' '29-13 139th St' 'Flushing, NY 11354'
  '1942-06-20' '914-894-5597' 'America/New_York' '40.77130' '-73.82979']
 ['2058' 'Benjamin Finley' '27-8 172nd St' 'Flushing, NY 11358'
  '1988-05-12' '914-750-0423' 'America/New_York' '40.76677' '-73.79340']
 ['2279' 'Kathleen Jacqueline Schroeder' '1093 E 6th St'
  'San Francisco, CA 94114' '2000-05-24' '840-371-2383'
  'America/Los_Angeles' '37.75580' '-122.44490']
 ['2304' 'Tyler Green Jr.' '4564 Oak Way' 'San Francisco, CA 94121'
  '1988-05-29' '408-771-7857' 'America/Los_Angeles' '37.75580'
  '-122.44490']
 ['2467' 'Lisa Pham' '2341 SW Park Rd' 'New York, NY 11215' '1988-05-02'
  '845-718-7339' 'America/New_York' '40.69430' '-73.92490']
 ['2488' 'Calvin Blankenship' '44-62 9th Ave' 'Whitestone, NY 11357'
  '1954-06-16' '585-664-3060' 'America/New_York' '40.79257' '-73.81151']
 ['2506' 'Shannon Sutton' '3149 SW 4th Ln' 'Stockton, CA 95206'
  '2000-05-15' '818-582-1154' 'America/Los_Angeles' '37.97650'
  '-121.31090']
 ['2530' 'Carolyn King' '42-53 43rd St' 'Sunnyside, NY 11104'
  '1954-05-16' '716-926-8199' 'America/New_York' '40.74584' '-73.92075']
 ['2590' 'Donna Wright' '375 Herkimer St' 'Brooklyn, NY 11213'
  '1988-06-26' '212-968-6405' 'America/New_York' '40.67908' '-73.93803']
 ['2615' 'Stephanie Conway' '1687A Taylor Ave' 'Bronx, NY 10460'
  '1988-05-19' '516-367-8497' 'America/New_York' '40.84111' '-73.86910']
 ['2625' 'Christopher Fleming' '97 Winchester Ave'
  'Staten Island, NY 10312' '2000-06-03' '716-439-9114'
  'America/New_York' '40.54260' '-74.15330']
 ['2643' 'Dennis Perez' '101-88 Union Turnpike' 'Jamaica, NY 11432'
  '1954-06-12' '838-900-7328' 'America/New_York' '40.72689' '-73.80003']
 ['2665' 'Melissa Odonnell' '170A Hart St' 'Brooklyn, NY 11206'
  '1954-05-18' '516-574-5900' 'America/New_York' '40.69348' '-73.93689']
 ['2734' 'Elizabeth Vargas' '200 Kosciuszko St' 'Brooklyn, NY 11216'
  '1988-06-04' '914-545-0621' 'America/New_York' '40.69111' '-73.94988']
 ['2910' 'Margaret Mcconnell' '41 Irving Pl' 'Brooklyn, NY 11238'
  '1976-05-22' '845-251-6926' 'America/New_York' '40.68244' '-73.95967']
 ['2914' 'David Davis' '2500A Broadway' 'Manhattan, NY 10025'
  '1954-06-29' '347-279-5294' 'America/New_York' '40.80438' '-73.96647']
 ['3099' 'Robert Morse' '2203 E 15th St' 'Brooklyn, NY 11229'
  '1988-06-19' '838-305-4623' 'America/New_York' '40.60210' '-73.95704']
 ['3106' 'David Garcia' '886A E New York Ave' 'Brooklyn, NY 11203'
  '2000-06-06' '315-589-6383' 'America/New_York' '40.66260' '-73.93797']
 ['3431' 'Connor Moore' '299 Vanderbilt Ave' 'Brooklyn, NY 11205'
  '1942-05-05' '585-527-3950' 'America/New_York' '40.69226' '-73.96970']
 ['3474' 'Robert Leblanc' '46 W Park Way' 'Las Vegas, NV 89134'
  '2000-05-31' '702-556-0158' 'America/Los_Angeles' '36.23330'
  '-115.26540']
 ['3512' 'Spencer Jenkins' '1217 Clay Ave' 'Bronx, NY 10456' '1954-06-04'
  '516-425-9716' 'America/New_York' '40.82967' '-73.90832']
 ['3711' 'Keith Harris' '88-57 102nd Rd' 'Ozone Park, NY 11416'
  '1988-06-26' '585-462-6768' 'America/New_York' '40.68140' '-73.85195']
 ['3907' 'Yvette Calhoun' '81C Wall St' 'Manhattan, NY 10005'
  '1976-05-15' '332-259-9303' 'America/New_York' '40.70671' '-74.00796']
 ['3985' 'Jack Fitzpatrick' '1141 E 223rd St' 'Bronx, NY 10466'
  '1988-06-14' '838-631-5040' 'America/New_York' '40.88196' '-73.86014']
 ['4086' 'Andrew Huff' '40-5 68th St' 'Woodside, NY 11377' '1988-05-01'
  '631-811-4502' 'America/New_York' '40.74462' '-73.89757']
 ['4092' 'Benjamin Nielsen' '14 Gabriel Dr' 'Bronx, NY 10469'
  '1988-05-27' '212-720-8124' 'America/New_York' '40.86402' '-73.85111']
 ['4105' 'Andrew Walker' '314 E 237th St' 'Bronx, NY 10470' '1954-06-07'
  '716-893-8928' 'America/New_York' '40.89866' '-73.87445']
 ['4140' 'Edward Burnett' '4686 Main Pl NW' 'Kamas, UT 84036'
  '1988-06-21' '801-234-4187' 'America/Denver' '40.64990' '-111.27230']
 ['4153' 'Samantha Drake' '614 W 151st St' 'Manhattan, NY 10031'
  '1954-05-29' '838-531-7585' 'America/New_York' '40.82995' '-73.94796']
 ['4218' 'Olivia Brown' '738B Franklin Ave' 'Brooklyn, NY 11238'
  '2000-05-16' '315-304-1156' 'America/New_York' '40.67484' '-73.95590']
 ['4319' 'Emily Waters' '144-22 Laburnum Ave' 'Flushing, NY 11355'
  '1988-06-29' '516-307-7774' 'America/New_York' '40.74913' '-73.81099']
 ['4343' 'Kendra Lawson' '90-30 215th Pl' 'Queens Village, NY 11428'
  '1976-05-04' '716-627-2172' 'America/New_York' '40.72397' '-73.74262']
 ['4467' 'Crystal Phillips' '1614 S Main Ln' 'Ogden, UT 84403'
  '2000-05-14' '801-205-0791' 'America/Denver' '41.22790' '-111.96820']
 ['4530' 'David Johnson' '929 81st St' 'Brooklyn, NY 11228' '1988-06-21'
  '929-840-9886' 'America/New_York' '40.61380' '-74.01377']
 ['4612' 'Derek Davis' '1968 Canarsie Rd' 'Brooklyn, NY 11236'
  '1954-06-25' '680-471-8258' 'America/New_York' '40.63272' '-73.88879']
 ['4641' 'Alexander Kennedy' '2851 N 2nd Pl' 'McAllen, TX 78573'
  '1976-06-21' '682-450-8593' 'America/Chicago' '26.22520' '-98.24670']
 ['4651' 'Tiffany Willis' '1410 W 4th Way' 'Washington, DC 20530'
  '1954-06-21' '771-832-1025' 'America/New_York' '38.90470' '-77.01630']
 ['4673' 'Robert Duncan' '140-5 69th Rd' 'Flushing, NY 11367'
  '1976-06-24' '516-507-0871' 'America/New_York' '40.73041' '-73.82541']
 ['4687' 'David Adams' '162-1 Willow Rd E' 'Staten Island, NY 10314'
  '1976-06-28' '838-657-1137' 'America/New_York' '40.61543' '-74.14908']
 ['4714' 'Alexander Davis Jr.' '4402 NE Park Pl' 'New York, NY 10027'
  '1988-05-09' '516-811-5989' 'America/New_York' '40.69430' '-73.92490']
 ['4733' 'Shane Hurst' '961 E 77th St' 'Brooklyn, NY 11236' '1988-06-16'
  '315-231-3504' 'America/New_York' '40.63679' '-73.91726']
 ['4814' 'Albert Goodwin' '3600 Dogwood St' 'Winston-Salem, NC 27101'
  '1976-06-22' '472-881-2375' 'America/New_York' '36.10290' '-80.26100']
 ['5026' 'Katrina Long' '1832 Rear Watson Ave' 'Bronx, NY 10472'
  '1954-05-18' '716-683-8784' 'America/New_York' '40.82699' '-73.85256']
 ['5141' 'Kaitlyn Turner' '7125 12th Ave' 'Brooklyn, NY 11228'
  '1942-05-27' '332-333-0430' 'America/New_York' '40.61804' '-74.01207']
 ['5172' 'Samantha Linda Hodges' '1317 Airport Dr' 'College, AK 99709'
  '1954-05-05' '907-929-4838' 'America/Anchorage' '64.86940' '-147.82160']
 ['5231' 'Sean Nelson' '2045 Rear Washington Ave' 'Bronx, NY 10457'
  '1976-05-03' '585-228-4901' 'America/New_York' '40.84236' '-73.89336']
 ['5582' 'Gary Rodriguez' '344A Rochester Ave' 'Brooklyn, NY 11213'
  '1954-05-11' '516-934-9355' 'America/New_York' '40.66962' '-73.92820']
 ['5767' 'Gina Weaver' '2812 Park Ln SE' 'Dallas, TX 75249' '1954-06-06'
  '936-520-9389' 'America/Chicago' '32.79350' '-96.76670']
 ['6133' 'Xavier Mcdonald' '655E Wyona St' 'Brooklyn, NY 11207'
  '1954-05-16' '585-297-9502' 'America/New_York' '40.67734' '-73.89399']
 ['6153' 'Vanessa Wall' '41-3 25th Ave' 'Astoria, NY 11103' '1988-05-20'
  '716-665-9120' 'America/New_York' '40.76533' '-73.90933']
 ['6190' 'Steven White' '47-18 92nd St' 'Elmhurst, NY 11373' '2000-05-26'
  '680-743-5134' 'America/New_York' '40.73371' '-73.87072']
 ['6263' 'James Weaver' '4886 W 1st Way' 'Miami, FL 33150' '1954-06-27'
  '561-659-0789' 'America/New_York' '25.78400' '-80.21010']
 ['6294' 'Megan Madden' '2992 SW Sunset Ln' 'Fresno, CA 93701'
  '2000-06-12' '707-989-3143' 'America/Los_Angeles' '36.78300'
  '-119.79390']
 ['6424' 'Daniel Sanders' '929 SE Dogwood Pl' 'Millen, GA 30442'
  '2000-06-18' '470-779-2430' 'America/New_York' '32.80710' '-81.94230']
 ['6964' 'Jonathan Green' '29-66 Mott Ave' 'Far Rockaway, NY 11691'
  '1988-05-11' '516-784-6065' 'America/New_York' '40.60688' '-73.74927']
 ['6992' 'Monique Bell' '7175 Shore Rd' 'Brooklyn, NY 11209' '1942-06-10'
  '914-902-6402' 'America/New_York' '40.61225' '-74.03486']
 ['7045' 'Shannon Petersen' '20-55 48th St' 'Astoria, NY 11105'
  '1954-06-11' '631-878-8330' 'America/New_York' '40.77172' '-73.90267']
 ['7064' 'Brittany Jones' '137-81 41st Ave' 'Flushing, NY 11355'
  '2000-06-02' '585-643-4492' 'America/New_York' '40.75643' '-73.81930']
 ['7190' 'Adrian Moore' '144-11 Ferndale Ave' 'Jamaica, NY 11435'
  '1954-05-29' '516-958-2933' 'America/New_York' '40.69102' '-73.79862']
 ['7357' 'Adam Rodriguez' '103-60 134th St'
  'South Richmond Hill, NY 11419' '1954-06-01' '845-930-5255'
  'America/New_York' '40.69245' '-73.81524']
 ['7773' 'Jessica Shannon Butler' '517 W 178th St' 'Manhattan, NY 10033'
  '2000-05-26' '516-310-7438' 'America/New_York' '40.84636' '-73.93948']
 ['7778' 'Derek Walker' '104-26 76th Ave' 'Forest Hills, NY 11375'
  '1976-05-11' '315-336-6282' 'America/New_York' '40.71641' '-73.83680']
 ['7906' 'Samuel Oneal' '78 Jefferson St' 'Brooklyn, NY 11206'
  '1954-05-06' '332-418-3045' 'America/New_York' '40.70103' '-73.93370']
 ['7945' 'Chelsea Harris' '26-81 Brookhaven Ave' 'Far Rockaway, NY 11691'
  '1954-06-17' '631-475-5089' 'America/New_York' '40.59872' '-73.75509']
 ['7948' 'Daniel Wood' '3186A Cortelyou Rd' 'Brooklyn, NY 11226'
  '1954-06-11' '516-279-3242' 'America/New_York' '40.64461' '-73.95368']
 ['7953' 'Kaylee Soto' '4574 NW 8th Dr' 'Washington, DC 20408'
  '1954-05-04' '771-863-6559' 'America/New_York' '38.90470' '-77.01630']
 ['7963' 'Jennifer Miller' '3297A Grace Ave' 'Bronx, NY 10469'
  '2000-05-15' '516-305-8008' 'America/New_York' '40.87649' '-73.83637']
 ['8430' 'Jennifer Tran' '897 Edison Ave' 'Bronx, NY 10465' '1942-05-21'
  '716-684-9624' 'America/New_York' '40.82535' '-73.82255']
 ['8468' 'Bruce Sanders' '137-49 27th Ave' 'Flushing, NY 11354'
  '1976-05-30' '845-895-4611' 'America/New_York' '40.77305' '-73.84342']
 ['8532' 'Stephanie Hubbard' '32A Cooper Pl' 'Bronx, NY 10475'
  '1954-06-27' '838-932-7701' 'America/New_York' '40.87666' '-73.82558']
 ['8797' 'Michael Robinson' '35-19 89th St' 'Jackson Heights, NY 11372'
  '1976-06-25' '516-218-5033' 'America/New_York' '40.75536' '-73.87825']
 ['8807' 'Christopher Jones Jr.' '163Â½ Classon Ave' 'Brooklyn, NY 11205'
  '2000-06-03' '845-860-4086' 'America/New_York' '40.69767' '-73.96118']
 ['8933' 'John Davis' '59-43 76th Ave' 'Forest Hills, NY 11375'
  '1954-05-09' '315-955-6001' 'America/New_York' '40.71276' '-73.83644']
 ['9014' 'Brittany Tucker' '14-35 Dunbar St' 'Far Rockaway, NY 11691'
  '1976-06-22' '516-420-5153' 'America/New_York' '40.61139' '-73.76844']
 ['9083' 'Kevin Morales' '621B E Tremont Ave' 'Bronx, NY 10457'
  '2000-06-16' '315-215-7041' 'America/New_York' '40.84708' '-73.90406']
 ['9153' 'Felicia Nolan' '532B Mill Rd' 'Staten Island, NY 10306'
  '1976-05-20' '315-324-3699' 'America/New_York' '40.56396' '-74.11047']
 ['9259' 'Sandy Rios' '143-9 Ferndale Ave' 'Jamaica, NY 11435'
  '1954-05-02' '516-361-8507' 'America/New_York' '40.69033' '-73.79810']]